@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-300 font-[Rubik];
}

h1 {
  @apply text-5xl font-medium;
}

h2 {
  @apply text-[2.5rem];
}

h3 {
  @apply text-[2rem];
}

h4 {
  @apply text-[1.72rem];
}

h5 {
  @apply text-[1.4rem];
}

h6 {
  @apply text-[1.2rem];
}

input {
  @apply autofill:bg-white;
}

.radio-input {
  @apply appearance-none bg-gray-300 w-[16px] h-[16px]
  rounded mb-[2px] checked:bg-[#354FB8] border border-black border-opacity-20 checked:hover:bg-[#354FB8] focus:outline-[#354FB8] hover:bg-gray-200;
}

.radio-container .radio-input:checked ~ .radio-label {
  @apply text-[#354FB8];
}

.ripple {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  animation: ripple 600ms linear;
  border-radius: 50%;
  transform: scale(0);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
